@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coldiac";
  /* src: url("./assets/Fonts/Coldiac.ttf") format("truetype"); */
  src: url("./assets/Fonts/Coldiac.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Showtime";
  src: url("./assets/Fonts/Showtime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MoreLight";
  src: url("./assets/Fonts/MoreLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .border-draft {
    @apply border-2 border-solid border-red-500;
  }
  .text-jeff-jona {
    @apply text-7xl sm:text-8xl lg:text-9xl;
  }
  .text-entourage-title {
    @apply text-2xl sm:text-3xl lg:text-4xl;
  }
  .text-entourage-list {
    @apply text-xs leading-5 sm:text-[.9rem] lg:text-[1.2rem];
  }
  .text-time {
    @apply text-2xl sm:text-4xl lg:text-6xl lg:tracking-wide;
  }
  .text-time-md {
    @apply text-xl sm:text-2xl;
  }
  .text-pageTitle {
    @apply text-3xl lg:text-5xl;
  }
}
